@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #edf3f8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  h1 {
    @apply text-[72px] font-dm-serif font-normal leading-[72px] tracking-[-0.553846px] text-sj-blue 2bp:text-[48px] 2bp:leading-[56px] 2bp:text-center 3bp:text-[32px] 3bp:leading-[36px];
  }

  h2 {
    @apply text-[56px] font-dm-serif font-normal leading-[56px] tracking-[-0.430769px] text-sj-blue 2bp:text-[48px] 3bp:text-[32px] 3bp:leading-[36px];
  }

  h3 {
    @apply text-[48px] font-dm-serif font-normal leading-[56px] tracking-[-0.369231px] text-sj-blue 3bp:text-[36px];
  }

  h4 {
    @apply text-[48px] font-dm-serif font-normal leading-[56px] tracking-[-0.369231px] text-sj-blue 3bp:text-[32px];
  }

  h5 {
    @apply font-dm-serif font-normal text-[24px] leading-[32px] tracking-[-0.184615px] text-sj-blue/[.75];
  }

  .ptext {
    @apply text-[15px] font-public-sans font-normal leading-[28px];
  }

  .customSpace {
    @apply max-w-[1138.8px] mx-auto px-[1.8rem];
  }

  .input-box {
    @apply max-w-[445px] h-[48px] bg-white rounded-[24px] pl-[27px];
  }

  input::placeholder {
    @apply font-public-sans font-bold text-[15px] leading-[18px] text-sj-blue/[.5];
  }

  .form input::placeholder {
    @apply font-public-sans font-normal text-[15px] leading-[18px] text-sj-blue/[.5];
  }

  .input01 {
    @apply px-[20px] pb-[17px] outline-none bg-bodybgcolor text-sj-blue border-b-[1px] border-b-sj-blue/[.5];
  }

  .valid-border {
    @apply border-b-[1px] border-b-sj-blue/[.5];
  }

  .error-border {
    @apply border-b-[1px] border-b-error-red/[.5];
  }

  .inputplace::placeholder {
    @apply text-error-red/[.5] font-normal;
  }

  .error-message {
    @apply text-error-red/[.5] font-public-sans font-normal text-[11px] leading-[13px] tracking-[-0.0846154px] mt-[8px] ml-[20px];
  }
}
